/* @media (max-width: 992px) {} */

/* @media (max-width: 736px) {} */

/* @media (max-width: 734px) {} */

/* @media (max-width: 667px) {} */

/* @media (max-width: 412px) {} */

/* @media (max-width: 360px) {} */

@media (max-width: 1024px) {
    .container {
      max-width: 920px;
    }
  
    .features__box {
      max-width: 290px;
    }
  
    .features__span {
      font-size: 18px;
    }
  
    .category__box {
      max-width: 290px;
    }
  
    .new__boxes {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .feature__title {
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    .searchLine,
    .inputBtn {
      max-width: 220px;
    }
  
    .category__box {
      max-width: 225px;
    }
  
    .features__boxes {
      gap: 30px;
    }
  }
  
  @media (max-width: 684px) {
    .container {
      max-width: 650px;
    }
  
    .searchLine,
    .inputBtn {
      max-width: 190px;
    }
  
    .category__boxes {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 50px;
    }
  
    .category__box {
      max-width: 265px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 550px;
    }
  
    .header__banner,
    .contacts__banner {
      display: none;
    }
  
    .header__link {
      font-size: 18px;
    }
  
    .features__boxes {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .contacts__form {
      max-width: 400px;
    }
  
    .complaint__form {
      padding-left: unset;
    }
  }
  
  @media (max-width: 414px) {
    .container {
      max-width: 400px;
    }
  
    .header__list {
      display: none;
    }
  
    .header__nav .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px 0;
    }
  
    .header__content .container {
      height: 60vh;
    }
  
    .navSearch {
      display: none;
    }
  
    .contacts__btn {
      text-align: center;
    }
  
    .search__company-name {
      font-size: 22px;
    }
  }
  
  @media (max-width: 375px) {
    .container {
      max-width: 320px;
    }
  
    .header__title {
      font-size: 28px;
    }
  
    .header__txt {
      font-size: 18px;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      max-width: 300px;
    }
  
    .company__title {
      font-size: 21px;
      text-align: center;
    }
  }