@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Monserrat";
    background: #f7f7f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* header__start */

.header__nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo-link {
    color: #171836;
    font-size: 32px;
    font-weight: bold;
}

.header__link {
    color: #171836;
    font-size: 20px;
}

.header__content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    row-gap: 30px;
    height: 70vh;
    padding: 50px 0;
}

.content1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 32px;
    color: #171836;
    margin-bottom: 12px;
}

.header__txt {
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: #171836;
    opacity: 0.8;
}

.content2 {
    flex-direction: column;
    text-align: center;
    transition: .7s;
}

.header__btn {
    color: #171836;
    font-size: 22px;
}

.search__form {
    padding: 5px 10px;
    border: 2px solid #171836;
    border-radius: 5px;
}

.fa-map-marker-alt:before {
    content: "";
}

.searchLine,
.inputBtn {
    min-height: 30px;
    padding: 8px 15px;
    font-size: 20px;
    border: none;
    outline: none;
    background: inherit;
}

.header__banner {
    max-width: 500px;
    max-height: 600px;
    overflow: hidden;
}

.header__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header__end */
/* feature start */

#feature {
    padding: 50px 0;
}

.feature__title {
    font-size: 28px;
    color: #171836;
    text-align: center;
    margin-bottom: 80px;
}

.features__boxes {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.features__box {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
}

.features__icon {
    font-size: 40px;
    color: #1f1414;
}

.features__span {
    font-size: 20px;
    color: #171836;
}

.features__info {
    color: #1f1414;
    max-width: 300px;
    margin: 0 auto;
}

form div {
    margin-top: 15px;
}

form label {
    color: #171836;
}

form input {
    margin-right: 10px;
}

/* feature end */

/* category start */

#category {
    padding: 50px 0;
}

.category__boxes {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.category__box {
    max-width: 350px;
    width: 100%;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px #171836;
    transition: .4s;
}

.category__box:hover:nth-child(1) {
    background: #fff;
}

.category__box:hover:nth-child(2) {
    background: grey;
}

.category__box:hover:nth-child(3) {
    background: #000;
}

.category__box:hover .category__box-title,
.category__box:hover .category__box-txt,
.category__box:hover .category__box-btn {
    color: #171836;
}

.category__box:hover .white,
.company__btns:hover .white {
    color: #fff;
}

.category__box:hover .category__box-btn {
    text-decoration: underline;
}

.category__box-title {
    color: #171836;
    margin-bottom: 5px;
    transition: .4s;
}

.category__box-txt {
    color: #1f1414;
    transition: .6s;
    margin-bottom: 5px;
}

.category__box-btn {
    color: #171836;
    transition: .4s;
    font-size: 18px;
}

/* category end */

/* new start */

#new {
    padding: 50px 0;
}

.new__boxes {
    display: flex;
    /* justify-content: space-between; */
    flex-flow: wrap;
    gap: 50px;
}

.new__box {
    display: flex;
    flex-flow: wrap;
    gap: 25px;
    padding: 10px 15px;
    max-width: 350px;
    box-shadow: 5px 5px 10px #171836;
    flex-grow: 1;
}

.new__img {
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.new__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new__content {
    display: flex;
    flex-direction: column;
}

.new__name {
    font-size: 20px;
    color: #171836;
    margin-bottom: 5px;
}

.new__location,
.new__checkTime {
    color: #1f1414;
    font-size: 18px;
    margin-bottom: 3px;
}

/* new end */

/* contacts start */

#contacts {
    padding: 50px 0;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
}

.contacts__form {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contacts__banner {
    max-width: 525px;
    max-height: 565px;
    overflow: hidden;
}

.contacts__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__txt {
    margin-bottom: 20px;
    font-size: 1.375rem;
    line-height: 2rem;
    color: #1baf5e;
    font-weight: 700;
    width: 100%;
}

.contacts__span {
    color: #1f1414;
    margin-bottom: 10px;
}

.contacts__form input {
    margin-bottom: 15px;
    max-width: 400px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border: 2px solid #171836;
}

.contacts__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    min-height: 50px;
    color: #fff;
    background: #171836;
    border-radius: 5px;
    transition: .4s;
    margin-top: 20px;
    cursor: pointer;
}

.contacts__btn:hover {
    background: inherit;
    transform: scale(1.1);
    color: #171836;
}


/* contacts end */

/* footer start */

.footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #171836;
}

/* footer end */

/* search start */

.search__companies {
    padding: 15px 20px;
    border: 2px solid #171836;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search__companies-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.search__company-name {
    font-size: 24px;
    color: #1baf5e;
    margin-bottom: 8px;
}

.search__company p {
    margin-bottom: 5px;
}

/* search end */

/* company start */

header {
    position: relative;
}

.company__title {
    font-size: 36px;
    margin-bottom: 21px;
}

.company__name {
    margin-bottom: 10px;
    text-align: center;
    color: #171836;
}

.company__address,
.company__phone,
.company__email {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: #171836;
}

.company__desc {
    letter-spacing: 1.1px;
    font-family: sans-serif;
    font-size: 18px;
    color: #171836;
}

.company__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* company end */

/* complaint start */

.complaint__content,
.investigation__content,
.comment__content,
.comment__content2,
.find__content,
.cookies__content {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.complaint__form {
    padding-left: 75px;
}

/* login start */

.login__title {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.login__input {
    color: #171836;
    font-size: 18px;
    display: block;
    background: #5e5b5b60;
    height: 62px;
    padding: 0 20px 0 38px;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
    border: 5px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
}

.forget {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #171836;
    font-size: 18px;
}

.login__submit {
    font-size: 22px;
}

.registration__form {
    padding-left: 75px;
}

/* comment start */

.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
-----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/*  */

.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}


.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.comment__area {
    height: 150px;
    width: 400px;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.find .container {
    background-color: #1baf5e;
    padding: 50px 0;
    border-radius: 5px;
}

.find__title {
    margin-bottom: 30px;
    color: #fff;
}

.find__txt {
    color: #fff;
    text-align: center;
}

.find__btn:hover {
    color: #fff;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer__link {
    text-decoration: underline;
    color: #000;
}

.footer__txt {
    text-align: center;
    margin-bottom: 20px;
}

/*  */

#cookies {
    display: none;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    position: fixed;
    background: #fcf8e3;
    border-bottom: 2px solid #fbeed5;
    color: #c09853;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

#cookies>p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

#cookies div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#cookies div p a{
    color: #332b17;
    text-decoration: none;
}

#cookies.display {
    display: block;

    /* Cross browser animation */
    -webkit-animation: cookies 1s 1;
    /* Chrome, Safari 5+ */
    -moz-animation: cookies 1s 1;
    /* Firefox 5-15 */
    -ms-animation: cookies 1s 1;
    /* IE9 */
    -o-animation: cookies 1s 1;
    /* Opera 12.00 */
    animation: cookies 1s 1;
    /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@keyframes cookies {
    0% {
        -webkit-transform: translate3d(0, -100px, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, -100px, 0);
        /* Firefox */
        -ms-transform: translate3d(0, -100px, 0);
        /* IE9 */
        -o-transform: translate3d(0, -100px, 0);
        /* Opera */
        transform: translate3d(0, -100px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);
        /* Firefox */
        -ms-transform: translate3d(0, 0, 0);
        /* IE9 */
        -o-transform: translate3d(0, 0, 0);
        /* Opera */
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes cookies {
    0% {
        -webkit-transform: translate3d(0, -100px, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, -100px, 0);
        /* Firefox */
        -ms-transform: translate3d(0, -100px, 0);
        /* IE9 */
        -o-transform: translate3d(0, -100px, 0);
        /* Opera */
        transform: translate3d(0, -100px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);
        /* Firefox */
        -ms-transform: translate3d(0, 0, 0);
        /* IE9 */
        -o-transform: translate3d(0, 0, 0);
        /* Opera */
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes cookies {
    0% {
        -webkit-transform: translate3d(0, -100px, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, -100px, 0);
        /* Firefox */
        -ms-transform: translate3d(0, -100px, 0);
        /* IE9 */
        -o-transform: translate3d(0, -100px, 0);
        /* Opera */
        transform: translate3d(0, -100px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);
        /* Firefox */
        -ms-transform: translate3d(0, 0, 0);
        /* IE9 */
        -o-transform: translate3d(0, 0, 0);
        /* Opera */
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes cookies {
    0% {
        -webkit-transform: translate3d(0, -100px, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, -100px, 0);
        /* Firefox */
        -ms-transform: translate3d(0, -100px, 0);
        /* IE9 */
        -o-transform: translate3d(0, -100px, 0);
        /* Opera */
        transform: translate3d(0, -100px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        /* Safari & Chrome */
        -moz-transform: translate3d(0, 0, 0);
        /* Firefox */
        -ms-transform: translate3d(0, 0, 0);
        /* IE9 */
        -o-transform: translate3d(0, 0, 0);
        /* Opera */
        transform: translate3d(0, 0, 0);
    }
}

